input {
    width : 100%;
    border: 1px solid #d9d9d9;
    padding: 20px;
    height : 30px;
}

.input-title {
    margin : 10px 0;
}

.select-wrapper {
    align-items: center;
    display : flex;
    margin-bottom : 10px;

    &:last-child {
        margin-bottom: 0px;
    }

    input[type='radio'] {
        width: 20px;
        height: 20px;
        background-color: white;
        margin-right : 10px;
    }

    .select-title {
    font-size : 15px;
    width : 80px;
    }

    .etc-input {
        height : 20px;
        padding : 10px;
        background-color : transparent;
        border : none;
        width : 200px;
        background-color : $color-white;
        //border-bottom: 3px solid  #d9d9d9 ;
    }

}
